h5py
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
Keras-Preprocessing==1.1.2
MarkupSafe==1.1.1
numpy
pickle-mixin==1.0.2
PyYAML==5.4.1
scipy==1.6.1
six==1.15.0
style==1.1.0
update==0.0.1
Werkzeug==1.0.1
